* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}

body {
    position: relative;
}

.orange {
    position: absolute;
    top: -10vh;
    right: 0;
    z-index: -1;
    width: 50vw;
    height: 150vh;
}

header {
    nav {
        width: 100%;
        ul {
            padding: 2rem;
            width: 70%;
            display: flex;
            list-style-type: none;
            justify-content: space-around;
            li {
                font-size: 1.75rem;
                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}

main {
    display: flex;
    flex-wrap: wrap;

    section.left {
        flex: 3 1 100px;
        padding: 2rem;

        h1 {
            font-size: 4rem;
            color: #E08958;
        }
        p {
            font-size: 1.5rem;
            padding: 1rem 0rem;
        }
    }
    section.right {
        flex: 1 1 800px;
        img {
            border-radius: 50%;
            width: 20vw;
            height: 20vw;
            position: absolute;
            top: 55vh;
            right: 20vw;
            transform: translateY(-50%);
        }
    }
    section.table {
        flex: 3 1 500px;
        padding: 1rem;
        table {
            border-collapse: collapse;
            tr{
                border-bottom: 2px solid gray;
                transition: all 0.2s ease;
                td {
                    padding: 1rem;
                }
                &:hover {
                    background-color:#fab994
                }
            }
        }
    }
    section.picture {
        position: relative;
        flex: 1 1 600px;
        img {
            width: 22vw;
            height: 80vh;
        }
        div.orangeRect {
            position: absolute;
            width: 25vw;
            height: 75vh;
            background-color: #E08958;
            top: 80px;
            left: 60px;
            z-index: -1;
        }
    }

    section.form {
        flex: 1 1 500px;
        form {
            min-height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content:  space-around;
            padding: 1.5rem;
        }
        div {
            margin: 0.5rem;
            label {
                margin-right: 1rem;
                font-size: 1.5rem;
            }
            input,
            textarea {
                background-color: #f0ab83;
                color: white;
                font-size: 1.25rem;
                padding: 0.5rem 0.25rem;
                border: none;
                width: 90%;
            }
            textarea {
                vertical-align: top;
            }
        }
        button {
            align-self: center;
            background-color: #E08958;
            color: white;
            border: none;
            cursor: pointer;
            padding: 0.75rem 1.5rem;
            font-size: 2rem;
            border-radius: 10px;
        }
    }

    div.line {
        background-color: gray;
        width: 3px;
    }

    section.contact {
        flex: 1 1 500px;
        display: flex;
        align-items: center;
        padding: 2rem;
        div.content {
            h2 {
                margin: 1rem 0;
            }
        }
    }
}

footer {
    a {
        padding: 1rem;
    }
}

.active {
    color: #E08958;
}

@media screen and (max-width: 1100px) {
    .orange {
        opacity: 0.5;
    }
    header {
        nav {
            ul {
                flex-direction: column;
                li {
                    padding: 1rem 0;
                    border-bottom: 2px solid gray;
                }
            }
        }
    }
    main {
        section.right {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            img {
                position: static;
                transform: none;
                width: 50vw;
                height: 50vw;
            }
        }
        section.picture {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 60vw;
            }
            div.orangeRect {
                display: none;
            }
        }
    }
}